@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 , h6, label, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}
h1 {
    font-size: 36px;
}
p {
    line-height: 1.5;
    font-size: 16px;
}
li {
    list-style-type: none;
}
.flex {
    display: flex;
}
.container {
    padding: 50px 0px;
}
.flex-1 {
    flex: 1;
}
.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.text-blue {
    color:#40E0D0;
}
section:nth-child(even) {
    background-color: #f8f8f8;
}
.section_title{
    margin-bottom: 24px;
}
/* Navigation Bar Below */
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.nav_link-list {
    display: flex;
}
.nav_link-anchor {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700;
    color: #242424;
}
.nav_link-anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}
.nav_link-anchor-primary:hover {
    background-color: #5d3eff;
}
.personal_logo {
    font-size: 24px;
    color: #6030b1;
    font-weight: bold;
    margin: 0px 12px;
}
/* About me */
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.about-me_info {
    display: flex;
    flex-direction: column;
}
.about-me_info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.about-me_picture-mask {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.50);
    margin-bottom: 28px;
}
.about-me_picture {
    width: 100%;
    transform: scale(1);
    padding-top: 2px;
}
.about-me_info-para {
    font-size: 20px;
    margin-bottom: 28px;
}
.about-me_info-title {
    margin-bottom: 20px;
}
.about-me_links {
    display: flex;
    justify-content: space-between;
}
.about-me_link {
    font-size: 20px;
    color: #242424;
    padding: 0 16px;
    transition: all 200ms ease;
}
.about-me_link:hover {
    color: rgb(136, 130, 130);
}
.about-me_img {
    width: 100%;
}
.about-me_img-container {
    flex: 1;
    display: flex;
    align-items: center;
}
/* TECH STACK */
.language_img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}
.language:hover .language_img {
    filter: brightness(80%);
    /* turns down brightness by 20% */
    opacity: 0.86;
    transform: scale(0.9); 
    /* transform: scale ^^^ reduce image by 10% */
}  
.language {
    width: 50%;
    /* ^^ Change back to 25 once i get more logos */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.language_img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 25px;
}
.language_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.language_name {
    font-size: 20px;
    position: absolute;
    transform: scale(0);
    transition: all 400ms ease;
    opacity: 0;
}
.language:hover .language_name {
    transform: scale(1);
    opacity: 1;
}